body {
    margin: 10;
    font-family: Arial, sans-serif;
}

main {
    height: 100vh;
}

section {
    text-align: center;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
}

img {
    width: 20%;
    height: auto;
border-radius: 100%;
margin-right: 20px;
}

nav a {
    padding-right: 30px;

}