body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .contenedor-parrgrafos {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .parrgrafo {
    background-color: #ee9f9f;
    color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }