@font-face {
    font-family:fuente_1;
    src: url(../fonts/Lato/Lato-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:fuente_2;
    src: url(../fonts/SingleDay-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
.texto {
    font-family:fuente_1;
}

.texto2 {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.texto3 {
    font-family:fuente_2;
    text-align: justify;
}
